body {
    background: #fff;
    color: #333;
    font: 15px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.width-third {
    width: 33.33%;
}

.width-quarter {
    width: 25%;
}


.input-contrast {
    background-color: #FAFAFA;
}

.input-contrast:focus {
    background-color: inherit;
}


/* CodeEditor */

.ace_gutter {
    background-color: #FFF !important;
    border-right: 1px solid #eee;
    color: #CCC !important;
}

.ace_identifier {
    color: #333;
}